In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('microdados_ed_basica_2021.zip', compression='zip', sep=';',on_bad_lines = 'warn', encoding='latin-1',
                 usecols = ['NO_REGIAO','NO_UF','NO_MUNICIPIO', 'NO_MESORREGIAO', 'TP_DEPENDENCIA', 'TP_CATEGORIA_ESCOLA_PRIVADA', 'TP_LOCALIZACAO', 'TP_LOCALIZACAO_DIFERENCIADA',
                            'TP_SITUACAO_FUNCIONAMENTO', 'IN_LOCAL_FUNC_PREDIO_ESCOLAR', 'TP_OCUPACAO_PREDIO_ESCOLAR', 'IN_LOCAL_FUNC_SOCIOEDUCATIVO',
                            'IN_LOCAL_FUNC_UNID_PRISIONAL', 'IN_LOCAL_FUNC_PRISIONAL_SOCIO', 'IN_LOCAL_FUNC_GALPAO','IN_AGUA_POTAVEL', 'IN_AGUA_REDE_PUBLICA', 'IN_AGUA_POCO_ARTESIANO', 'IN_AGUA_CACIMBA', 'IN_AGUA_FONTE_RIO', 'IN_AGUA_INEXISTENTE',
                            'IN_ENERGIA_REDE_PUBLICA','IN_ENERGIA_INEXISTENTE', 'IN_ESGOTO_REDE_PUBLICA', 'IN_ESGOTO_INEXISTENTE', 'IN_LIXO_SERVICO_COLETA', 'IN_LIXO_QUEIMA', 'IN_LIXO_ENTERRA',
                            'IN_LIXO_DESTINO_FINAL_PUBLICO', 'IN_LIXO_DESCARTA_OUTRA_AREA', 'IN_BANHEIRO', 'IN_BIBLIOTECA', 'IN_QUADRA_ESPORTES', 'IN_ACESSIBILIDADE_INEXISTENTE', 'IN_INTERNET',
                            'QT_MAT_BAS_FEM', 'QT_MAT_BAS_MASC', 'QT_MAT_BAS_BRANCA', 'QT_MAT_BAS_PRETA', 'QT_MAT_BAS_INDIGENA', 'QT_MAT_BAS_PARDA'])

In [3]:
df

,NO_REGIAO,NO_UF,NO_MUNICIPIO,NO_MESORREGIAO,TP_DEPENDENCIA,TP_CATEGORIA_ESCOLA_PRIVADA,TP_LOCALIZACAO,TP_LOCALIZACAO_DIFERENCIADA,TP_SITUACAO_FUNCIONAMENTO,IN_LOCAL_FUNC_PREDIO_ESCOLAR,...,IN_BIBLIOTECA,IN_QUADRA_ESPORTES,IN_ACESSIBILIDADE_INEXISTENTE,IN_INTERNET,QT_MAT_BAS_FEM,QT_MAT_BAS_MASC,QT_MAT_BAS_BRANCA,QT_MAT_BAS_PRETA,QT_MAT_BAS_PARDA,QT_MAT_BAS_INDIGENA
0,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,2,NaN,2,2.0,1,1.0,...,0.0,0.0,1.0,0.0,4.0,4.0,0.0,0.0,0.0,8.0
1,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,2,NaN,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,128.0,103.0,62.0,6.0,153.0,8.0
2,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,3,NaN,2,0.0,1,1.0,...,0.0,0.0,1.0,0.0,6.0,4.0,2.0,0.0,8.0,0.0
3,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,3,NaN,1,0.0,1,1.0,...,1.0,1.0,1.0,1.0,43.0,61.0,12.0,5.0,52.0,22.0
4,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,3,NaN,2,0.0,1,1.0,...,0.0,1.0,1.0,1.0,81.0,92.0,75.0,2.0,88.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221135,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,NaN,1,NaN,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221136,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,1.0,0.0,0.0,1.0,229.0,256.0,272.0,2.0,121.0,0.0
221137,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,85.0,109.0,91.0,3.0,47.0,0.0
221138,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,NaN,1,NaN,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221139,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,NaN,1,NaN,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
faltosos = df.isna().sum()
faltosos.head(60)

NO_REGIAO                             0
NO_UF                                 0
NO_MUNICIPIO                          0
NO_MESORREGIAO                        0
TP_DEPENDENCIA                        0
TP_CATEGORIA_ESCOLA_PRIVADA      179886
TP_LOCALIZACAO                        0
TP_LOCALIZACAO_DIFERENCIADA       41083
TP_SITUACAO_FUNCIONAMENTO             0
IN_LOCAL_FUNC_PREDIO_ESCOLAR      41083
TP_OCUPACAO_PREDIO_ESCOLAR        45717
IN_LOCAL_FUNC_SOCIOEDUCATIVO      41083
IN_LOCAL_FUNC_UNID_PRISIONAL      41083
IN_LOCAL_FUNC_PRISIONAL_SOCIO     41083
IN_LOCAL_FUNC_GALPAO              41083
IN_AGUA_POTAVEL                   41083
IN_AGUA_REDE_PUBLICA              41083
IN_AGUA_POCO_ARTESIANO            41083
IN_AGUA_CACIMBA                   41083
IN_AGUA_FONTE_RIO                 41083
IN_AGUA_INEXISTENTE               41083
IN_ENERGIA_REDE_PUBLICA           41083
IN_ENERGIA_INEXISTENTE            41083
IN_ESGOTO_REDE_PUBLICA            41083
IN_ESGOTO_INEXISTENTE             41083
IN_LIXO_SERVICO_COLETA            41083
IN_LIXO_QUEIMA                    41083
IN_LIXO_ENTERRA                   41083
IN_LIXO_DESTINO_FINAL_PUBLICO     41083
IN_LIXO_DESCARTA_OUTRA_AREA       41083
IN_BANHEIRO                       41083
IN_BIBLIOTECA                     41083
IN_QUADRA_ESPORTES                41083
IN_ACESSIBILIDADE_INEXISTENTE     41083
IN_INTERNET                       41083
QT_MAT_BAS_FEM                    42770
QT_MAT_BAS_MASC                   42770
QT_MAT_BAS_BRANCA                 42770
QT_MAT_BAS_PRETA                  42770
QT_MAT_BAS_PARDA                  42770
QT_MAT_BAS_INDIGENA               42770
dtype: int64

Apagando linhas com dados faltosos na coluna de matrículas femininas (na mesma linha não temos os dados sobre os outros tipos de matrículas)

A quantidade de linhas sem informações em TP_CATEGORIA_ESCOLA_PRIVADA, são de escolas que não são privadas

A quantidade de linhas sem informações em TP_OCUPACAO_PREDIO_ESCOLAR são para escolas que não ocupam prédio escolar

In [5]:
df.dropna(subset=["QT_MAT_BAS_FEM"], inplace=True)

In [6]:
df.isna().sum().head(60)

NO_REGIAO                             0
NO_UF                                 0
NO_MUNICIPIO                          0
NO_MESORREGIAO                        0
TP_DEPENDENCIA                        0
TP_CATEGORIA_ESCOLA_PRIVADA      137828
TP_LOCALIZACAO                        0
TP_LOCALIZACAO_DIFERENCIADA           0
TP_SITUACAO_FUNCIONAMENTO             0
IN_LOCAL_FUNC_PREDIO_ESCOLAR          0
TP_OCUPACAO_PREDIO_ESCOLAR         4456
IN_LOCAL_FUNC_SOCIOEDUCATIVO          0
IN_LOCAL_FUNC_UNID_PRISIONAL          0
IN_LOCAL_FUNC_PRISIONAL_SOCIO         0
IN_LOCAL_FUNC_GALPAO                  0
IN_AGUA_POTAVEL                       0
IN_AGUA_REDE_PUBLICA                  0
IN_AGUA_POCO_ARTESIANO                0
IN_AGUA_CACIMBA                       0
IN_AGUA_FONTE_RIO                     0
IN_AGUA_INEXISTENTE                   0
IN_ENERGIA_REDE_PUBLICA               0
IN_ENERGIA_INEXISTENTE                0
IN_ESGOTO_REDE_PUBLICA                0
IN_ESGOTO_INEXISTENTE                 0
IN_LIXO_SERVICO_COLETA                0
IN_LIXO_QUEIMA                        0
IN_LIXO_ENTERRA                       0
IN_LIXO_DESTINO_FINAL_PUBLICO         0
IN_LIXO_DESCARTA_OUTRA_AREA           0
IN_BANHEIRO                           0
IN_BIBLIOTECA                         0
IN_QUADRA_ESPORTES                    0
IN_ACESSIBILIDADE_INEXISTENTE         0
IN_INTERNET                           0
QT_MAT_BAS_FEM                        0
QT_MAT_BAS_MASC                       0
QT_MAT_BAS_BRANCA                     0
QT_MAT_BAS_PRETA                      0
QT_MAT_BAS_PARDA                      0
QT_MAT_BAS_INDIGENA                   0
dtype: int64

In [7]:
regioes = df["NO_REGIAO"].values

In [8]:
df

,NO_REGIAO,NO_UF,NO_MUNICIPIO,NO_MESORREGIAO,TP_DEPENDENCIA,TP_CATEGORIA_ESCOLA_PRIVADA,TP_LOCALIZACAO,TP_LOCALIZACAO_DIFERENCIADA,TP_SITUACAO_FUNCIONAMENTO,IN_LOCAL_FUNC_PREDIO_ESCOLAR,...,IN_BIBLIOTECA,IN_QUADRA_ESPORTES,IN_ACESSIBILIDADE_INEXISTENTE,IN_INTERNET,QT_MAT_BAS_FEM,QT_MAT_BAS_MASC,QT_MAT_BAS_BRANCA,QT_MAT_BAS_PRETA,QT_MAT_BAS_PARDA,QT_MAT_BAS_INDIGENA
0,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,2,NaN,2,2.0,1,1.0,...,0.0,0.0,1.0,0.0,4.0,4.0,0.0,0.0,0.0,8.0
1,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,2,NaN,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,128.0,103.0,62.0,6.0,153.0,8.0
2,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,3,NaN,2,0.0,1,1.0,...,0.0,0.0,1.0,0.0,6.0,4.0,2.0,0.0,8.0,0.0
3,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,3,NaN,1,0.0,1,1.0,...,1.0,1.0,1.0,1.0,43.0,61.0,12.0,5.0,52.0,22.0
4,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,3,NaN,2,0.0,1,1.0,...,0.0,1.0,1.0,1.0,81.0,92.0,75.0,2.0,88.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221131,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,0.0,0.0,0.0,1.0,68.0,55.0,45.0,2.0,64.0,0.0
221132,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,164.0,175.0,33.0,0.0,79.0,0.0
221133,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,0.0,1.0,0.0,1.0,172.0,193.0,138.0,11.0,128.0,2.0
221136,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,1.0,0.0,0.0,1.0,229.0,256.0,272.0,2.0,121.0,0.0
221137,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,85.0,109.0,91.0,3.0,47.0,0.0

In [9]:
df.fillna(0,inplace=True)
df

,NO_REGIAO,NO_UF,NO_MUNICIPIO,NO_MESORREGIAO,TP_DEPENDENCIA,TP_CATEGORIA_ESCOLA_PRIVADA,TP_LOCALIZACAO,TP_LOCALIZACAO_DIFERENCIADA,TP_SITUACAO_FUNCIONAMENTO,IN_LOCAL_FUNC_PREDIO_ESCOLAR,...,IN_BIBLIOTECA,IN_QUADRA_ESPORTES,IN_ACESSIBILIDADE_INEXISTENTE,IN_INTERNET,QT_MAT_BAS_FEM,QT_MAT_BAS_MASC,QT_MAT_BAS_BRANCA,QT_MAT_BAS_PRETA,QT_MAT_BAS_PARDA,QT_MAT_BAS_INDIGENA
0,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,2,0.0,2,2.0,1,1.0,...,0.0,0.0,1.0,0.0,4.0,4.0,0.0,0.0,0.0,8.0
1,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,2,0.0,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,128.0,103.0,62.0,6.0,153.0,8.0
2,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,3,0.0,2,0.0,1,1.0,...,0.0,0.0,1.0,0.0,6.0,4.0,2.0,0.0,8.0,0.0
3,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,3,0.0,1,0.0,1,1.0,...,1.0,1.0,1.0,1.0,43.0,61.0,12.0,5.0,52.0,22.0
4,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,3,0.0,2,0.0,1,1.0,...,0.0,1.0,1.0,1.0,81.0,92.0,75.0,2.0,88.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221131,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,0.0,0.0,0.0,1.0,68.0,55.0,45.0,2.0,64.0,0.0
221132,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,164.0,175.0,33.0,0.0,79.0,0.0
221133,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,0.0,1.0,0.0,1.0,172.0,193.0,138.0,11.0,128.0,2.0
221136,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,1.0,0.0,0.0,1.0,229.0,256.0,272.0,2.0,121.0,0.0
221137,Centro-Oeste,Distrito Federal,Brasília,Distrito Federal,4,1.0,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,85.0,109.0,91.0,3.0,47.0,0.0

In [10]:
pip install dash

Requirement already satisfied: dash in /home/ana/anaconda3/lib/python3.9/site-packages (2.6.1)
Requirement already satisfied: dash-table==5.0.0 in /home/ana/anaconda3/lib/python3.9/site-packages (from dash) (5.0.0)
Requirement already satisfied: Flask>=1.0.4 in /home/ana/anaconda3/lib/python3.9/site-packages (from dash) (1.1.2)
Requirement already satisfied: dash-core-components==2.0.0 in /home/ana/anaconda3/lib/python3.9/site-packages (from dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in /home/ana/anaconda3/lib/python3.9/site-packages (from dash) (5.10.0)
Requirement already satisfied: dash-html-components==2.0.0 in /home/ana/anaconda3/lib/python3.9/site-packages (from dash) (2.0.0)
Requirement already satisfied: flask-compress in /home/ana/anaconda3/lib/python3.9/site-packages (from dash) (1.12)
Requirement already satisfied: itsdangerous>=0.24 in /home/ana/anaconda3/lib/python3.9/site-packages (from Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: click>=5.1 in /home/ana/anaconda3/lib/python3.9/site-packages (from Flask>=1.0.4->dash) (8.0.3)
Requirement already satisfied: Werkzeug>=0.15 in /home/ana/anaconda3/lib/python3.9/site-packages (from Flask>=1.0.4->dash) (2.0.2)
Requirement already satisfied: Jinja2>=2.10.1 in /home/ana/anaconda3/lib/python3.9/site-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /home/ana/anaconda3/lib/python3.9/site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash) (1.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /home/ana/anaconda3/lib/python3.9/site-packages (from plotly>=5.0.0->dash) (8.0.1)
Requirement already satisfied: brotli in /home/ana/anaconda3/lib/python3.9/site-packages (from flask-compress->dash) (1.0.9)
Note: you may need to restart the kernel to use updated packages.

In [11]:
from dash import Dash,html,dcc
import plotly.express as px

In [12]:
df.sort_values(["TP_CATEGORIA_ESCOLA_PRIVADA"])

,NO_REGIAO,NO_UF,NO_MUNICIPIO,NO_MESORREGIAO,TP_DEPENDENCIA,TP_CATEGORIA_ESCOLA_PRIVADA,TP_LOCALIZACAO,TP_LOCALIZACAO_DIFERENCIADA,TP_SITUACAO_FUNCIONAMENTO,IN_LOCAL_FUNC_PREDIO_ESCOLAR,...,IN_BIBLIOTECA,IN_QUADRA_ESPORTES,IN_ACESSIBILIDADE_INEXISTENTE,IN_INTERNET,QT_MAT_BAS_FEM,QT_MAT_BAS_MASC,QT_MAT_BAS_BRANCA,QT_MAT_BAS_PRETA,QT_MAT_BAS_PARDA,QT_MAT_BAS_INDIGENA
0,Norte,Rondônia,Alta Floresta D'Oeste,Leste Rondoniense,2,0.0,2,2.0,1,1.0,...,0.0,0.0,1.0,0.0,4.0,4.0,0.0,0.0,0.0,8.0
139266,Sudeste,Rio de Janeiro,Petrópolis,Metropolitana do Rio de Janeiro,3,0.0,1,0.0,1,1.0,...,0.0,0.0,0.0,1.0,25.0,20.0,2.0,1.0,1.0,0.0
139277,Sudeste,Rio de Janeiro,Petrópolis,Metropolitana do Rio de Janeiro,1,0.0,1,0.0,1,1.0,...,1.0,0.0,0.0,1.0,45.0,55.0,60.0,1.0,17.0,0.0
139278,Sudeste,Rio de Janeiro,Petrópolis,Metropolitana do Rio de Janeiro,3,0.0,1,0.0,1,1.0,...,0.0,0.0,0.0,1.0,65.0,73.0,29.0,7.0,4.0,5.0
139279,Sudeste,Rio de Janeiro,Petrópolis,Metropolitana do Rio de Janeiro,3,0.0,1,0.0,1,1.0,...,0.0,0.0,0.0,1.0,30.0,10.0,13.0,4.0,15.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171668,Sudeste,São Paulo,São Paulo,Metropolitana de São Paulo,4,4.0,1,0.0,1,1.0,...,0.0,1.0,1.0,1.0,247.0,228.0,232.0,14.0,118.0,1.0
196828,Sul,Santa Catarina,São José,Grande Florianópolis,4,4.0,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,169.0,171.0,241.0,21.0,66.0,0.0
189040,Sul,Paraná,Santa Helena,Oeste Paranaense,4,4.0,1,0.0,1,1.0,...,0.0,1.0,0.0,1.0,51.0,80.0,79.0,2.0,28.0,2.0
120825,Sudeste,Minas Gerais,Nova Lima,Metropolitana de Belo Horizonte,4,4.0,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,334.0,259.0,266.0,16.0,211.0,1.0
127870,Sudeste,Minas Gerais,Uberaba,Triângulo Mineiro/Alto Paranaíba,4,4.0,1,0.0,1,1.0,...,1.0,1.0,0.0,1.0,57.0,53.0,40.0,8.0,14.0,0.0

A região com menos e a região com mais escolas privadas

Contando o numero de cadastros de escolas por região

In [13]:
series_v = df["NO_REGIAO"].value_counts()
series_v

Nordeste        60684
Sudeste         59783
Sul             25562
Norte           22035
Centro-Oeste    10306
Name: NO_REGIAO, dtype: int64

Agora veficando quantas dessas são escolas privadas em cada região

1) nordeste
2) Sudeste
3)Sul
4)Norte
5)Centro-oeste

In [14]:
df_nordeste = df[df["NO_REGIAO"]=="Nordeste"]
nordeste = df_nordeste[df_nordeste["TP_DEPENDENCIA"] == 4]
len(nordeste)

10498

In [15]:
df_sudeste = df[df["NO_REGIAO"]=="Sudeste"]
sudeste = df_sudeste[df_sudeste["TP_DEPENDENCIA"] == 4]
len(sudeste)

19870

In [16]:
df_sul = df[df["NO_REGIAO"]=="Sul"]
sul = df_sul[df_sul["TP_DEPENDENCIA"] == 4]
len(sul)

5844

In [17]:
df_norte = df[df["NO_REGIAO"]=="Norte"]
norte = df_norte[df_norte["TP_DEPENDENCIA"] == 4]
len(norte)

1753

In [18]:
df_CentroOeste = df[df["NO_REGIAO"]=="Centro-Oeste"]
CentroOeste = df_CentroOeste[df_CentroOeste["TP_DEPENDENCIA"] == 4]
len(CentroOeste)

2577

In [19]:
hfreq = pd.DataFrame(series_v)
hfreq.rename(columns={'NO_REGIAO': 'QTD_ESCOLAS'},inplace=True)
hfreq["QTD_ESCOLAS_PARTICULARES"] = [len(nordeste),
                                     len(sudeste),
                                     len(sul), 
                                     len(norte), 
                                     len(CentroOeste)]
hfreq["QTD_ESCOLAS_PUBLICAS"] = [len(df_nordeste["NO_REGIAO"])-len(nordeste),
                                len(df_sudeste["NO_REGIAO"])-len(sudeste),
                                len(df_sul["NO_REGIAO"])-len(sul), 
                                len(df_norte["NO_REGIAO"])-len(norte), 
                                len(df_CentroOeste["NO_REGIAO"])-len(CentroOeste)]
hfreq["QTD_ESCOLAS_PARTICULARES"] = [len(nordeste), len(sudeste), len(sul), len(norte), len(CentroOeste)]
hfreq["FREQ_REL_ESCOLAS_PARTICULARES"] = hfreq["QTD_ESCOLAS_PARTICULARES"]/hfreq["QTD_ESCOLAS"]*100
hfreq

,QTD_ESCOLAS,QTD_ESCOLAS_PARTICULARES,QTD_ESCOLAS_PUBLICAS,FREQ_REL_ESCOLAS_PARTICULARES
Nordeste,60684,10498,50186,17.299453
Sudeste,59783,19870,39913,33.236873
Sul,25562,5844,19718,22.862061
Norte,22035,1753,20282,7.955525
Centro-Oeste,10306,2577,7729,25.004852

ANALISANDO TOTAL DE ESCOLAR PARTICULARES NO BRASIL COMO UM TODO

In [20]:
dados_escolas_particulares_brasil = [[hfreq["QTD_ESCOLAS"].sum(), hfreq["QTD_ESCOLAS_PARTICULARES"].sum(), hfreq["QTD_ESCOLAS_PARTICULARES"].sum()/hfreq["QTD_ESCOLAS"].sum()*100]]

dados_escolas_particulares_brasil = pd.DataFrame(dados_escolas_particulares_brasil, columns=['QTD_ESCOLAS', 'QTD_ESCOLAS_PARTICULARES', 'FREQ_REL_ESCOLAS_PARTICULARES'])

dados_escolas_particulares_brasil.rename(index={0:'Brasil'},inplace=True)

dados_escolas_particulares_brasil

        QTD_ESCOLAS  QTD_ESCOLAS_PARTICULARES  FREQ_REL_ESCOLAS_PARTICULARES
Brasil       178370                     40542                      22.729158

ANALISANDO AS ESCOLAS PARTICULARES NO ESTADO DA PARAÍBA

In [21]:
df_PB = df[df["NO_UF"]=="Paraíba"]
total_esc_pb = len(df_PB)
pb = df_PB[df_PB["TP_DEPENDENCIA"] == 4]
total_part_pb = len(pb)

print(total_esc_pb, total_part_pb)

4744 885

In [22]:
dados_escolas_particulares_pb = [[total_esc_pb, total_part_pb, total_part_pb/total_esc_pb*100]]

dados_escolas_particulares_pb= pd.DataFrame(dados_escolas_particulares_pb, columns=['QTD_ESCOLAS', 'QTD_ESCOLAS_PARTICULARES', 'FREQ_REL_ESCOLAS_PARTICULARES'])

dados_escolas_particulares_pb.rename(index={0:'Paraíba'},inplace=True)

dados_escolas_particulares_pb

         QTD_ESCOLAS  QTD_ESCOLAS_PARTICULARES  FREQ_REL_ESCOLAS_PARTICULARES
Paraíba         4744                       885                      18.655143

AGORA VAMOS ANALISAR OS DADOS, POR REGIAO, SE HÁ O FORNECIMENTO DE ÁGUA POTÁVEL PARA CONSUMO HUMANO EM CADA REGIAO

1) nordeste 2) Sudeste 3)Sul 4)Norte 5)Centro-oeste

In [23]:
df_nordeste_agua = df[df["NO_REGIAO"]=="Nordeste"]
nordeste_agua = df_nordeste_agua[df_nordeste_agua["IN_AGUA_POTAVEL"] == 1]
len(nordeste_agua)

57546

In [24]:
df_sudeste_agua = df[df["NO_REGIAO"]=="Sudeste"]
sudeste_agua = df_sudeste_agua[df_sudeste_agua["IN_AGUA_POTAVEL"] == 1]
len(sudeste_agua)

59406

In [25]:
df_sul_agua = df[df["NO_REGIAO"]=="Sul"]
sul_agua = df_sul_agua[df_sul_agua["IN_AGUA_POTAVEL"] == 1]
len(sul_agua)

24765

In [26]:
df_norte_agua = df[df["NO_REGIAO"]=="Norte"]
norte_agua = df_norte_agua[df_norte_agua["IN_AGUA_POTAVEL"] == 1]
len(norte_agua)

18042

In [27]:
df_co_agua = df[df["NO_REGIAO"]=="Centro-Oeste"]
co_agua = df_co_agua[df_co_agua["IN_AGUA_POTAVEL"] == 1]
len(co_agua)

10149

In [28]:
hfreq_agua = pd.DataFrame(series_v)
hfreq_agua.rename(columns={'NO_REGIAO': 'QTD_TOTAL_ESCOLAS'},inplace=True)
hfreq_agua["QTD_ESCOLAS_AGUA_POTAVEL"] = [len(nordeste_agua), len(sudeste_agua), len(sul_agua), len(norte_agua),
                                     len(co_agua)]
hfreq_agua["FREQ_REL_AGUA_POTAVEL"] = hfreq_agua["QTD_ESCOLAS_AGUA_POTAVEL"]/hfreq_agua["QTD_TOTAL_ESCOLAS"]*100
hfreq_agua

,QTD_TOTAL_ESCOLAS,QTD_ESCOLAS_AGUA_POTAVEL,FREQ_REL_AGUA_POTAVEL
Nordeste,60684,57546,94.828950
Sudeste,59783,59406,99.369386
Sul,25562,24765,96.882091
Norte,22035,18042,81.878829
Centro-Oeste,10306,10149,98.476616

VAMOS ANALISAR A FREQUENCIA DE AGUA POTÁVEL NO BRASIL COMO UM TODO

In [29]:
dados_escolas_agua_brasil = [[hfreq_agua["QTD_TOTAL_ESCOLAS"].sum(), hfreq_agua["QTD_ESCOLAS_AGUA_POTAVEL"].sum(), hfreq_agua["QTD_ESCOLAS_AGUA_POTAVEL"].sum()/hfreq_agua["QTD_TOTAL_ESCOLAS"].sum()*100]]

dados_escolas_agua_brasil  = pd.DataFrame(dados_escolas_agua_brasil, columns=['QTD_TOTAL_ESCOLAS', 'QTD_ESCOLAS_AGUA_POTAVEL', 'FREQ_REL_AGUA_POTAVEL'])

dados_escolas_agua_brasil.rename(index={0:'Brasil'},inplace=True)

dados_escolas_agua_brasil

        QTD_TOTAL_ESCOLAS  QTD_ESCOLAS_AGUA_POTAVEL  FREQ_REL_AGUA_POTAVEL
Brasil             178370                    169908              95.255929

VAMOS ANALISAR A FREQUENCIA DE AGUA POTÁVEL NA PARAIBA

In [30]:
df_PB = df[df["NO_UF"]=="Paraíba"]
total_esc_pb = len(df_PB)
pb = df_PB[df_PB["IN_AGUA_POTAVEL"] == 1]
total_agua_pb = len(pb)

print(total_esc_pb, total_agua_pb)

4744 4676

In [31]:
dados_escolas_agua_pb = [[total_esc_pb, total_agua_pb, total_agua_pb/total_esc_pb*100]]

dados_escolas_agua_pb= pd.DataFrame(dados_escolas_agua_pb, columns=['QTD_TOTAL_ESCOLAS', 'QTD_ESCOLAS_AGUA_POTAVEL', 'FREQ_REL_AGUA_POTAVEL'])

dados_escolas_agua_pb.rename(index={0:'Paraíba'},inplace=True)

dados_escolas_agua_pb

         QTD_TOTAL_ESCOLAS  QTD_ESCOLAS_AGUA_POTAVEL  FREQ_REL_AGUA_POTAVEL
Paraíba               4744                      4676               98.56661

ABASTECIMENTO DE ENERGIA - REDE PUBLICA NAS ESCOLAS - REGIAO

1) nordeste 2) Sudeste 3)Sul 4)Norte 5)Centro-oeste

In [32]:
df_nordeste_energia = df[df["NO_REGIAO"]=="Nordeste"]
nordeste_energia = df_nordeste_energia[df_nordeste_energia["IN_ENERGIA_REDE_PUBLICA"] == 1]
len(nordeste_energia)

60084

In [33]:
df_sudeste_energia = df[df["NO_REGIAO"]=="Sudeste"]
sudeste_energia = df_sudeste_energia[df_sudeste_energia["IN_ENERGIA_REDE_PUBLICA"] == 1]
len(sudeste_energia)

59670

In [34]:
df_sul_energia = df[df["NO_REGIAO"]=="Sul"]
sul_energia = df_sul_energia[df_sul_energia["IN_ENERGIA_REDE_PUBLICA"] == 1]
len(sul_energia)

25531

In [35]:
df_norte_energia = df[df["NO_REGIAO"]=="Norte"]
norte_energia = df_norte_energia[df_norte_energia["IN_ENERGIA_REDE_PUBLICA"] == 1]
len(norte_energia)

16998

In [36]:
df_co_energia = df[df["NO_REGIAO"]=="Centro-Oeste"]
co_energia = df_co_energia[df_co_energia["IN_ENERGIA_REDE_PUBLICA"] == 1]
len(co_energia)

10217

In [37]:
hfreq_energia = pd.DataFrame(series_v)
hfreq_energia.rename(columns={'NO_REGIAO': 'QTD_TOTAL_ESCOLAS'},inplace=True)
hfreq_energia["QTD_ESCOLAS_ABASTECIMENTO_ENERGIA"] = [len(nordeste_energia), len(sudeste_energia), len(sul_energia), len(norte_energia),
                                     len(co_energia)]
hfreq_energia["FREQ_REL_ABASTECIMENTO_ENERGIA"] = hfreq_energia["QTD_ESCOLAS_ABASTECIMENTO_ENERGIA"]/hfreq_energia["QTD_TOTAL_ESCOLAS"]*100
hfreq_energia

,QTD_TOTAL_ESCOLAS,QTD_ESCOLAS_ABASTECIMENTO_ENERGIA,FREQ_REL_ABASTECIMENTO_ENERGIA
Nordeste,60684,60084,99.011272
Sudeste,59783,59670,99.810983
Sul,25562,25531,99.878726
Norte,22035,16998,77.140912
Centro-Oeste,10306,10217,99.136425

ABASTECIMENTO DE ENERGIA - REDE PUBLICA NAS ESCOLAS - BRASIL

In [38]:
dados_escolas_energia_brasil = [[hfreq_energia["QTD_TOTAL_ESCOLAS"].sum(), hfreq_energia["QTD_ESCOLAS_ABASTECIMENTO_ENERGIA"].sum(), hfreq_energia["QTD_ESCOLAS_ABASTECIMENTO_ENERGIA"].sum()/hfreq_energia["QTD_TOTAL_ESCOLAS"].sum()*100]]

dados_escolas_energia_brasil  = pd.DataFrame(dados_escolas_energia_brasil, columns=['QTD_TOTAL_ESCOLAS', 'QTD_ESCOLAS_ABASTECIMENTO_ENERGIA', 'FREQ_REL_ABASTECIMENTO_ENERGIA'])

dados_escolas_energia_brasil.rename(index={0:'Brasil'},inplace=True)

dados_escolas_energia_brasil

,QTD_TOTAL_ESCOLAS,QTD_ESCOLAS_ABASTECIMENTO_ENERGIA,FREQ_REL_ABASTECIMENTO_ENERGIA
Brasil,178370,172500,96.709088

ABASTECIMENTO DE ENERGIA - REDE PUBLICA NAS ESCOLAS - PARAIBA

In [39]:
df_PB = df[df["NO_UF"]=="Paraíba"]
total_esc_pb = len(df_PB)
pb = df_PB[df_PB["IN_ENERGIA_REDE_PUBLICA"] == 1]
total_energia_pb = len(pb)

print(total_esc_pb, total_energia_pb)

4744 4722

In [40]:
dados_escolas_energia_pb = [[total_esc_pb, total_energia_pb, total_energia_pb/total_esc_pb*100]]

dados_escolas_energia_pb= pd.DataFrame(dados_escolas_energia_pb, columns=['QTD_TOTAL_ESCOLAS', 'QTD_ESCOLAS_ABASTECIMENTO_ENERGIA', 'FREQ_REL_ABASTECIMENTO_ENERGIA'])

dados_escolas_energia_pb.rename(index={0:'Paraíba'},inplace=True)

dados_escolas_energia_pb

,QTD_TOTAL_ESCOLAS,QTD_ESCOLAS_ABASTECIMENTO_ENERGIA,FREQ_REL_ABASTECIMENTO_ENERGIA
Paraíba,4744,4722,99.536256

ACESSO A INTERNET - ESCOLAS - REGIOES

1) nordeste 2) Sudeste 3)Sul 4)Norte 5)Centro-oeste

In [41]:
df_nordeste_internet = df[df["NO_REGIAO"]=="Nordeste"]
nordeste_internet = df_nordeste_internet[df_nordeste_internet["IN_INTERNET"] == 1]
len(nordeste_internet)

45110

In [42]:
df_sudeste_internet = df[df["NO_REGIAO"]=="Sudeste"]
sudeste_internet = df_sudeste_internet[df_sudeste_internet["IN_INTERNET"] == 1]
len(sudeste_internet)

56627

In [43]:
df_sul_internet = df[df["NO_REGIAO"]=="Sul"]
sul_internet = df_sul_internet[df_sul_internet["IN_INTERNET"] == 1]
len(sul_internet)

24932

In [44]:
df_norte_internet = df[df["NO_REGIAO"]=="Norte"]
norte_internet = df_norte_internet[df_norte_internet["IN_INTERNET"] == 1]
len(norte_internet)

10903

In [45]:
df_co_internet = df[df["NO_REGIAO"]=="Centro-Oeste"]
co_internet = df_co_internet[df_co_internet["IN_INTERNET"] == 1]
len(co_internet)

10058

In [46]:
hfreq_internet = pd.DataFrame(series_v)
hfreq_internet.rename(columns={'NO_REGIAO': 'QTD_TOTAL_ESCOLAS'},inplace=True)
hfreq_internet["QTD_ESCOLAS_ACESSO_INTERNET"] = [len(nordeste_internet), len(sudeste_internet), len(sul_internet), len(norte_internet),
                                     len(co_internet)]
hfreq_internet["FREQ_REL_ACESSO_INTERNET"] = hfreq_internet["QTD_ESCOLAS_ACESSO_INTERNET"]/hfreq_internet["QTD_TOTAL_ESCOLAS"]*100
hfreq_internet

,QTD_TOTAL_ESCOLAS,QTD_ESCOLAS_ACESSO_INTERNET,FREQ_REL_ACESSO_INTERNET
Nordeste,60684,45110,74.335904
Sudeste,59783,56627,94.720907
Sul,25562,24932,97.535404
Norte,22035,10903,49.480372
Centro-Oeste,10306,10058,97.593635

ACESSO A INTERNET - ESCOLAS - BRASIL

In [47]:
dados_escolas_internet_brasil = [[hfreq_internet["QTD_TOTAL_ESCOLAS"].sum(), hfreq_internet["QTD_ESCOLAS_ACESSO_INTERNET"].sum(), hfreq_internet["QTD_ESCOLAS_ACESSO_INTERNET"].sum()/hfreq_internet["QTD_TOTAL_ESCOLAS"].sum()*100]]

dados_escolas_internet_brasil  = pd.DataFrame(dados_escolas_internet_brasil, columns=['QTD_TOTAL_ESCOLAS', 'QTD_ESCOLAS_ACESSO_INTERNET', 'FREQ_REL_ACESSO_INTERNET'])

dados_escolas_internet_brasil.rename(index={0:'Brasil'},inplace=True)

dados_escolas_internet_brasil

,QTD_TOTAL_ESCOLAS,QTD_ESCOLAS_ACESSO_INTERNET,FREQ_REL_ACESSO_INTERNET
Brasil,178370,147630,82.76616

ACESSO A INTERNET - ESCOLAS - PARAIBA

In [48]:
df_PB = df[df["NO_UF"]=="Paraíba"]
total_esc_pb = len(df_PB)
pb = df_PB[df_PB["IN_INTERNET"] == 1]
total_internet_pb = len(pb)

print(total_esc_pb, total_internet_pb)

4744 3773

In [49]:
dados_escolas_internet_pb = [[total_esc_pb, total_internet_pb, total_internet_pb/total_esc_pb*100]]

dados_escolas_internet_pb= pd.DataFrame(dados_escolas_internet_pb, columns=['QTD_TOTAL_ESCOLAS', 'QTD_ESCOLAS_ACESSO_INTERNET', 'FREQ_REL_ACESSO_INTERNET'])

dados_escolas_internet_pb.rename(index={0:'Paraíba'},inplace=True)

dados_escolas_internet_pb

,QTD_TOTAL_ESCOLAS,QTD_ESCOLAS_ACESSO_INTERNET,FREQ_REL_ACESSO_INTERNET
Paraíba,4744,3773,79.53204

ANALISE DEPENDENCIAS FISICAS (BIBLIOTECA) NAS ESCOLAS - REGIÕES

1) nordeste 2) Sudeste 3)Sul 4)Norte 5)Centro-oeste

In [50]:
df_nordeste_bib = df[df["NO_REGIAO"]=="Nordeste"]
nordeste_bib = df_nordeste_bib[df_nordeste_bib["IN_BIBLIOTECA"] == 1]
len(nordeste_bib)

18828

In [51]:
df_sudeste_bib = df[df["NO_REGIAO"]=="Sudeste"]
sudeste_bib = df_sudeste_bib[df_sudeste_bib["IN_BIBLIOTECA"] == 1]
len(sudeste_bib)

21813

In [52]:
df_sul_bib = df[df["NO_REGIAO"]=="Sul"]
sul_bib = df_sul_bib[df_sul_bib["IN_BIBLIOTECA"] == 1]
len(sul_bib)

14317

In [53]:
df_norte_bib = df[df["NO_REGIAO"]=="Norte"]
norte_bib = df_norte_bib[df_norte_bib["IN_BIBLIOTECA"] == 1]
len(norte_bib)

5271

In [54]:
df_co_bib = df[df["NO_REGIAO"]=="Centro-Oeste"]
co_bib = df_co_bib[df_co_bib["IN_BIBLIOTECA"] == 1]
len(co_bib)

5385

In [55]:
hfreq_bib = pd.DataFrame(series_v)
hfreq_bib.rename(columns={'NO_REGIAO': 'QTD_TOTAL_ESCOLAS'},inplace=True)
hfreq_bib["QTD_ESCOLAS_COM_BIBLIOTECA"] = [len(nordeste_bib), len(sudeste_bib), len(sul_bib), len(norte_bib),
                                     len(co_bib)]
hfreq_bib["FREQ_REL_ESC_BIBLIOTECA"] = hfreq_bib["QTD_ESCOLAS_COM_BIBLIOTECA"]/hfreq_bib["QTD_TOTAL_ESCOLAS"]*100
hfreq_bib

,QTD_TOTAL_ESCOLAS,QTD_ESCOLAS_COM_BIBLIOTECA,FREQ_REL_ESC_BIBLIOTECA
Nordeste,60684,18828,31.026300
Sudeste,59783,21813,36.486961
Sul,25562,14317,56.008919
Norte,22035,5271,23.921035
Centro-Oeste,10306,5385,52.251116

ANALISE DEPENDENCIAS FISICAS (BIBLIOTECA) NAS ESCOLAS - BRASIL

In [56]:
dados_escolas_bib_brasil = [[hfreq_bib["QTD_TOTAL_ESCOLAS"].sum(), hfreq_bib["QTD_ESCOLAS_COM_BIBLIOTECA"].sum(), hfreq_bib["QTD_ESCOLAS_COM_BIBLIOTECA"].sum()/hfreq_bib["QTD_TOTAL_ESCOLAS"].sum()*100]]

dados_escolas_bib_brasil  = pd.DataFrame(dados_escolas_bib_brasil, columns=['QTD_TOTAL_ESCOLAS', 'QTD_ESCOLAS_COM_BIBLIOTECA', 'FREQ_REL_ESC_BIBLIOTECA'])

dados_escolas_bib_brasil.rename(index={0:'Brasil'},inplace=True)

dados_escolas_bib_brasil

        QTD_TOTAL_ESCOLAS  QTD_ESCOLAS_COM_BIBLIOTECA  FREQ_REL_ESC_BIBLIOTECA
Brasil             178370                       65614                36.785334

ANALISE DEPENDENCIAS FISICAS (BIBLIOTECA) NAS ESCOLAS - PARAIBA

In [57]:
df_PB = df[df["NO_UF"]=="Paraíba"]
total_esc_pb = len(df_PB)
pb = df_PB[df_PB["IN_BIBLIOTECA"] == 1]
total_bib_pb = len(pb)

print(total_esc_pb, total_bib_pb)

4744 1501

In [58]:
dados_escolas_bib_pb = [[total_esc_pb, total_bib_pb, total_bib_pb/total_esc_pb*100]]

dados_escolas_bib_pb= pd.DataFrame(dados_escolas_bib_pb, columns=['QTD_TOTAL_ESCOLAS', 'QTD_ESCOLAS_COM_BIBLIOTECA', 'FREQ_REL_ESC_BIBLIOTECA'])

dados_escolas_bib_pb.rename(index={0:'Paraíba'},inplace=True)

dados_escolas_bib_pb

,QTD_TOTAL_ESCOLAS,QTD_ESCOLAS_COM_BIBLIOTECA,FREQ_REL_ESC_BIBLIOTECA
Paraíba,4744,1501,31.639966

In [ ]:
from dash import Dash,html,dcc,Input,Output

#cria localhost
app = Dash(__name__)

#criação de graficos - regioes
fig = px.bar(hfreq, x=hfreq.index,y="FREQ_REL_ESCOLAS_PARTICULARES",
             barmode="group", text_auto=True).update_layout(
    title={"text": "Escolas particulares por região", "x": 0.5},
    yaxis_title="Quantidade de escolas particulares por região"
)

grafico_agua_potavel = px.bar(hfreq_agua, x=hfreq_agua.index,y="QTD_ESCOLAS_AGUA_POTAVEL"
                              ,barmode="group",  text_auto=True).update_layout(
    title={"text": "Escolas com água potável por região", "x": 0.5},
    yaxis_title="Quantidade de escolas com água potável por região"
)

grafico_energia_regioes = px.bar(hfreq_energia, x=hfreq_energia.index, y="QTD_ESCOLAS_ABASTECIMENTO_ENERGIA" 
                        ,barmode="group",  text_auto=True).update_layout(
    title={"text": "Escolas com abastecimento de energia por região", "x": 0.5},
    yaxis_title="Quantidade de escolas com abastecimento de energia por região"
)

grafico_internet_regioes = px.bar(hfreq_internet, x=hfreq_internet.index, y="QTD_ESCOLAS_ACESSO_INTERNET"
                                  ,barmode="group",  text_auto=True).update_layout(
    title={"text": "Escolas com acesso a internet por região", "x": 0.5},
    yaxis_title="Quantidade de escolas com acesso a internet por região"
)

grafico_biblioteca_regioes = px.bar(hfreq_bib, x=hfreq_bib.index, y="QTD_ESCOLAS_COM_BIBLIOTECA"
                                    ,barmode="group",  text_auto=True).update_layout(
    title={"text": "Escolas com biblioteca por região", "x": 0.5},
    yaxis_title="Quantidade de escolas com biblioteca por região"
)


#criação de graficos - brasil

grafico_dados_escolas_particulares_brasil = px.bar(dados_escolas_particulares_brasil,
x=dados_escolas_particulares_brasil.index,y="FREQ_REL_ESCOLAS_PARTICULARES",barmode="group",
text_auto=True).update_layout(title={"text": "Escolas particulares no Brasil", "x": 0.5},
yaxis_title="Escolas particulares no Brasil")


grafico_agua_potavel_brasil = px.bar(dados_escolas_agua_brasil, x=dados_escolas_agua_brasil.index,
y="QTD_ESCOLAS_AGUA_POTAVEL" ,barmode="group", text_auto=True).update_layout(title={"text": "Escolas com água potável no Brasil","x": 0.5}
,yaxis_title="Escolas com água potável no Brasil")

grafico_energia_brasil = px.bar(dados_escolas_energia_brasil, x=dados_escolas_energia_brasil.index, y="QTD_ESCOLAS_ABASTECIMENTO_ENERGIA" 
                        ,barmode="group",  text_auto=True).update_layout(
    title={"text": "Escolas com abastecimento de energia no Brasil", "x": 0.5},
    yaxis_title="Escolas com abastecimento de energia no Brasil"
)

grafico_internet_brasil = px.bar(dados_escolas_internet_brasil, x=dados_escolas_internet_brasil.index,
    y="QTD_ESCOLAS_ACESSO_INTERNET", barmode="group",  text_auto=True).update_layout(
    title={"text": "Escolas com acesso a internet no Brasil", "x": 0.5},
    yaxis_title="Quantidade de escolas com acesso a internet no Brasil"
)

grafico_biblioteca_brasil = px.bar(dados_escolas_bib_brasil, x=dados_escolas_bib_brasil.index,
    y="QTD_ESCOLAS_COM_BIBLIOTECA",barmode="group",  text_auto=True).update_layout(
    title={"text": "Escolas com biblioteca no Brasil", "x": 0.5},
    yaxis_title="Quantidade de escolas com biblioteca no Brasil"
)

#criação de graficos - paraíba

grafico_dados_escolas_particulares_paraiba = px.bar(dados_escolas_particulares_pb,
x=dados_escolas_particulares_pb.index,y="FREQ_REL_ESCOLAS_PARTICULARES",barmode="group",
text_auto=True).update_layout(title={"text": "Escolas particulares na Paraíba", "x": 0.5},
yaxis_title="Escolas particulares na Paraíba")


grafico_agua_potavel_paraiba = px.bar(dados_escolas_agua_pb, x=dados_escolas_agua_pb.index,
y="QTD_ESCOLAS_AGUA_POTAVEL",
barmode="group", text_auto=True).update_layout(title={"text": "Escolas com água potável na Paraíba","x": 0.5}
,yaxis_title="Escolas com água potável na Paraíba")

grafico_energia_paraiba = px.bar(dados_escolas_energia_pb, x=dados_escolas_energia_pb.index, y="QTD_ESCOLAS_ABASTECIMENTO_ENERGIA" 
                        ,barmode="group",  text_auto=True).update_layout(
    title={"text": "Escolas com abastecimento de energia na Paraíba", "x": 0.5},
    yaxis_title="Escolas com abastecimento de energia na Paraíba"
)

grafico_internet_paraiba = px.bar(dados_escolas_internet_pb, x=dados_escolas_internet_pb.index,
    y="QTD_ESCOLAS_ACESSO_INTERNET", barmode="group",  text_auto=True).update_layout(
    title={"text": "Escolas com acesso a internet na Paraíba", "x": 0.5},
    yaxis_title="Quantidade de escolas com acesso a internet na Paraíba"
)

grafico_biblioteca_paraiba = px.bar(dados_escolas_bib_pb, x=dados_escolas_bib_pb.index,
    y="QTD_ESCOLAS_COM_BIBLIOTECA",barmode="group",  text_auto=True).update_layout(
    title={"text": "Escolas com biblioteca na Paraíba", "x": 0.5},
    yaxis_title="Quantidade de escolas com biblioteca na Paraíba"
)

#colocando graficos no dashboard

app.layout = html.Div(children=[
    dcc.Dropdown(["NACIONAL", "REGIONAL","ESTADUAL - PB","Escolha um nivel regional"],
                     "Escolha um nivel regional", id='escolha_dados'),
    html.Div(children=[],id='geral')
])

#Seleção de dados
@app.callback(
    Output('geral', 'children'),
    Input('escolha_dados', 'value')
)
def update_output(value):
    if(value=='REGIONAL'):
        div = html.Div(children=[
            html.Div(children=['''
                    Quantidade de escolas particulares.
                '''],className="text"),
                #particular
                dcc.Dropdown(["QTD_ESCOLAS_PARTICULARES", "FREQ_REL_ESCOLAS_PARTICULARES"],
                             "QTD_ESCOLAS_PARTICULARES", id='tipo_escola_regioes'),
                dcc.Graph(
                    id='escola_regioes',
                    figure= fig
                ),
                #Agua potavel
                dcc.Dropdown(["QTD_ESCOLAS_AGUA_POTAVEL", "FREQ_REL_AGUA_POTAVEL"],
                             "QTD_ESCOLAS_AGUA_POTAVEL", id='tipo_agua_potavel'),
                dcc.Graph(
                    id="agua_potavel",
                    figure = grafico_agua_potavel
                ),

                #energia
                dcc.Dropdown(["QTD_ESCOLAS_ABASTECIMENTO_ENERGIA", "FREQ_REL_ABASTECIMENTO_ENERGIA"],
                             "QTD_ESCOLAS_ABASTECIMENTO_ENERGIA", id='tipo_energia'),
                dcc.Graph(
                    id="energia",
                    figure = grafico_energia_regioes
                ),
            
                #Internet
                dcc.Dropdown(["QTD_ESCOLAS_ACESSO_INTERNET", "FREQ_REL_ACESSO_INTERNET"],
                             "QTD_ESCOLAS_ACESSO_INTERNET", id='tipo_internet'),
                dcc.Graph(
                    id="internet",
                    figure = grafico_internet_regioes
                ),

                #Biblioteca
                dcc.Dropdown(["QTD_ESCOLAS_COM_BIBLIOTECA", "FREQ_REL_ESC_BIBLIOTECA"],
                             "QTD_ESCOLAS_COM_BIBLIOTECA", id='tipo_biblioteca'),
                dcc.Graph(
                    id="biblioteca",
                    figure = grafico_biblioteca_regioes
                )
        ])
        return div
    if(value=='Escolha um nivel regional'):
        div = html.H1(children=['''
        SEM DADOS POR ENQUANTO!
    '''],className="text")
        return div
    
    if(value=='NACIONAL'):
        div = html.Div(children=[
            html.Div(children=['''
                    Quantidade de escolas particulares.
                '''],className="text"),
            
                #particular
                dcc.Dropdown(["QTD_ESCOLAS_PARTICULARES", "FREQ_REL_ESCOLAS_PARTICULARES"],
                             "QTD_ESCOLAS_PARTICULARES", id='tipo_escola_brasil'),
                dcc.Graph(
                    id='escola_regioes_brasil',
                    figure= grafico_dados_escolas_particulares_brasil
                ),
            
                #Agua potavel
                dcc.Dropdown(["QTD_ESCOLAS_AGUA_POTAVEL", "FREQ_REL_AGUA_POTAVEL"],
                             "QTD_ESCOLAS_AGUA_POTAVEL", id='tipo_agua_potavel_brasil'),
                dcc.Graph(
                    id="agua_potavel_brasil",
                    figure = grafico_agua_potavel_brasil
                ),

                #energia brasil
                dcc.Dropdown(["QTD_ESCOLAS_ABASTECIMENTO_ENERGIA", "FREQ_REL_ABASTECIMENTO_ENERGIA"],
                             "QTD_ESCOLAS_ABASTECIMENTO_ENERGIA", id='tipo_energia_brasil'),
                dcc.Graph(
                    id="energia_brasil",
                    figure = grafico_energia_brasil
                ),

                #Internet brasil
                dcc.Dropdown(["QTD_ESCOLAS_ACESSO_INTERNET", "FREQ_REL_ACESSO_INTERNET"],
                             "QTD_ESCOLAS_ACESSO_INTERNET", id='tipo_internet_brasil'),
                dcc.Graph(
                    id="internet_brasil",
                    figure = grafico_internet_brasil
                ),

                #Biblioteca
                dcc.Dropdown(["QTD_ESCOLAS_COM_BIBLIOTECA", "FREQ_REL_ESC_BIBLIOTECA"],
                             "QTD_ESCOLAS_COM_BIBLIOTECA", id='tipo_biblioteca_brasil'),
                dcc.Graph(
                    id="biblioteca_brasil",
                    figure = grafico_biblioteca_brasil
                )
        ])
        return div
    
    if(value=='ESTADUAL - PB'):
        div = html.Div(children=[
            html.Div(children=['''
                    Quantidade de escolas particulares.
                '''],className="text"),
            
                #particular
                dcc.Dropdown(["QTD_ESCOLAS_PARTICULARES", "FREQ_REL_ESCOLAS_PARTICULARES"],
                             "QTD_ESCOLAS_PARTICULARES", id='tipo_escola_paraiba'),
                dcc.Graph(
                    id='escola_regioes_paraiba',
                    figure= grafico_dados_escolas_particulares_paraiba
                ),
            
                #Agua potavel
                dcc.Dropdown(["QTD_ESCOLAS_AGUA_POTAVEL", "FREQ_REL_AGUA_POTAVEL"],
                             "QTD_ESCOLAS_AGUA_POTAVEL", id='tipo_agua_potavel_paraiba'),
                dcc.Graph(
                    id="agua_potavel_paraiba",
                    figure = grafico_agua_potavel_paraiba
                ),

                #energia brasil
                dcc.Dropdown(["QTD_ESCOLAS_ABASTECIMENTO_ENERGIA", "FREQ_REL_ABASTECIMENTO_ENERGIA"],
                             "QTD_ESCOLAS_ABASTECIMENTO_ENERGIA", id='tipo_energia_paraiba'),
                dcc.Graph(
                    id="energia_paraiba",
                    figure = grafico_energia_paraiba
                ),

                #Internet brasil
                dcc.Dropdown(["QTD_ESCOLAS_ACESSO_INTERNET", "FREQ_REL_ACESSO_INTERNET"],
                             "QTD_ESCOLAS_ACESSO_INTERNET", id='tipo_internet_paraiba'),
                dcc.Graph(
                    id="internet_paraiba",
                    figure = grafico_internet_paraiba
                ),

                #Biblioteca
                dcc.Dropdown(["QTD_ESCOLAS_COM_BIBLIOTECA", "FREQ_REL_ESC_BIBLIOTECA"],
                             "QTD_ESCOLAS_COM_BIBLIOTECA", id='tipo_biblioteca_paraiba'),
                dcc.Graph(
                    id="biblioteca_paraiba",
                    figure = grafico_biblioteca_paraiba
                )
        ])
        return div
    
    
#Particular
@app.callback(
    Output('escola_regioes', 'figure'),
    Input('tipo_escola_regioes', 'value')
)
def update_output(value):
    fig =px.bar(hfreq, x=hfreq.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas particulares por região", "x": 0.5},
    yaxis_title="Escolas particulares por região",
    xaxis_title="")
    return fig

#Agua Potavel
@app.callback(
    Output('agua_potavel', 'figure'),
    Input('tipo_agua_potavel', 'value')
)
def update_output(value):
    fig =px.bar(hfreq_agua, x=hfreq_agua.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com água potável por região", "x": 0.5},
    yaxis_title="Escolas com água potável por região",
    xaxis_title="")
    return fig

#Energia
@app.callback(
    Output('energia', 'figure'),
    Input('tipo_energia', 'value')
)
def update_output(value):
    fig =px.bar(hfreq_energia, x=hfreq_energia.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com abastecimento de energia por região", "x": 0.5},
    yaxis_title="Escolas com abastecimento de energia por região",
    xaxis_title="")
    return fig

#Internet
@app.callback(
    Output('internet', 'figure'),
    Input('tipo_internet', 'value')
)
def update_output(value):
    fig =px.bar(hfreq_internet, x=hfreq_internet.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com acesso a internet por região", "x": 0.5},
    yaxis_title="Escolas com acesso a internet por região",
    xaxis_title="")
    return fig

#Biblioteca
@app.callback(
    Output('biblioteca', 'figure'),
    Input('tipo_biblioteca', 'value')
)
def update_output(value):
    fig = px.bar(hfreq_bib, x=hfreq_bib.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com biblioteca por região", "x": 0.5},
    yaxis_title="Escolas com biblioteca por região",
    xaxis_title="")
    return fig


#Particular brasil
@app.callback(
    Output('escola_regioes_brasil', 'figure'),
    Input('tipo_escola_brasil', 'value')
)
def update_output(value):
    fig =px.bar(dados_escolas_particulares_brasil, x=dados_escolas_particulares_brasil.index,
                y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas particulares no Brasil", "x": 0.5},
    yaxis_title="Dados escolas particulares no Brasil",
    xaxis_title="")
    return fig

#agua brasil
@app.callback(
    Output('agua_potavel_brasil', 'figure'),
    Input('tipo_agua_potavel_brasil', 'value')
)
def update_output(value):
    fig =px.bar(dados_escolas_agua_brasil, x=dados_escolas_agua_brasil.index,
                y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com água potável no Brasil", "x": 0.5},
    yaxis_title="Dados escolas com água potável no Brasil",
    xaxis_title="")
    return fig

#Energia brasil
@app.callback(
    Output('energia_brasil', 'figure'),
    Input('tipo_energia_brasil', 'value')
)
def update_output(value):
    fig =px.bar(dados_escolas_energia_brasil, x=dados_escolas_energia_brasil.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com abastecimento de energia no Brasil", "x": 0.5},
    yaxis_title="Escolas com abastecimento de energia no Brasil",
    xaxis_title="")
    return fig

#Internet brasil
@app.callback(
    Output('internet_brasil', 'figure'),
    Input('tipo_internet_brasil', 'value')
)
def update_output(value):
    fig =px.bar(dados_escolas_internet_brasil, x=dados_escolas_internet_brasil.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com acesso a internet no Brasil", "x": 0.5},
    yaxis_title="Escolas com acesso a internet no Brasil",
    xaxis_title="")
    return fig

#Biblioteca brasil
@app.callback(
    Output('biblioteca_brasil', 'figure'),
    Input('tipo_biblioteca_brasil', 'value')
)
def update_output(value):
    fig = px.bar(dados_escolas_bib_brasil, x=dados_escolas_bib_brasil.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com biblioteca no Brasil", "x": 0.5},
    yaxis_title="Escolas com biblioteca no Brasil",
    xaxis_title="")
    return fig


#Particular paraiba
@app.callback(
    Output('escola_regioes_paraiba', 'figure'),
    Input('tipo_escola_paraiba', 'value')
)
def update_output(value):
    fig =px.bar(dados_escolas_particulares_pb, x=dados_escolas_particulares_pb.index,
                y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas particulares na Paraíba", "x": 0.5},
    yaxis_title="Dados escolas particulares na Paraíba",
    xaxis_title="")
    return fig

#agua paraiba
@app.callback(
    Output('agua_potavel_paraiba', 'figure'),
    Input('tipo_agua_potavel_paraiba', 'value')
)
def update_output(value):
    fig =px.bar(dados_escolas_agua_pb, x=dados_escolas_agua_pb.index,
                y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com água potável na Paraíba", "x": 0.5},
    yaxis_title="Dados escolas com água potável na Paraíba",
    xaxis_title="")
    return fig

#Energia paraiba
@app.callback(
    Output('energia_paraiba', 'figure'),
    Input('tipo_energia_paraiba', 'value')
)
def update_output(value):
    fig =px.bar(dados_escolas_energia_pb, x=dados_escolas_energia_pb.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com abastecimento de energia na Paraíba", "x": 0.5},
    yaxis_title="Escolas com abastecimento de energia na Paraíba",
    xaxis_title="")
    return fig

#Internet paraiba
@app.callback(
    Output('internet_paraiba', 'figure'),
    Input('tipo_internet_paraiba', 'value')
)
def update_output(value):
    fig =px.bar(dados_escolas_internet_pb, x=dados_escolas_internet_pb.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com acesso a internet na Paraíba", "x": 0.5},
    yaxis_title="Escolas com acesso a internet na Paraíba",
    xaxis_title="")
    return fig

#Biblioteca paraiba
@app.callback(
    Output('biblioteca_paraiba', 'figure'),
    Input('tipo_biblioteca_paraiba', 'value')
)
def update_output(value):
    fig = px.bar(dados_escolas_bib_pb, x=dados_escolas_bib_pb.index,y=value,color=value,barmode="group").update_layout(
    title={"text": "Escolas com biblioteca na Paraíba", "x": 0.5},
    yaxis_title="Escolas com biblioteca na Paraíba",
    xaxis_title="")
    return fig

if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [19/Aug/2022 20:32:19] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:19] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:19] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:19] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:19] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:23] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:23] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:23] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:23] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:24] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:24] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:24] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:24] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:29] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:29] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:29] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:29] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:29] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:31] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:31] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:31] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:31] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:31] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:32:31] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:41] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:42] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:42] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:42] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:42] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [19/Aug/2022 20:33:42] "POST /_dash-update-component HTTP/1.1" 200 -